.footer-middle{
    background: #B8B4B3;
    color: FEFBFA;
    padding-top:8px;
    padding-left:1px;
    padding-bottom:8px;
}

.footer-bottom{
    padding-top:3rem;
    padding-bottom:2rem;
}