.footer-middle{
  background: #B8B4B3;
  padding-top: 3rem;
  color: FEFBFA;
  padding-bottom: 2px;
  padding-left:1px;
  padding-top:1rem;
}

.footer-bottom{
    padding-top:3rem;
    padding-bottom:2rem;
}