.footer-middle{
    background: #B8B4B3;
    color: FEFBFA;
   
    position: fixed;
  left: 
  0;
  bottom: 0;
  width: 100%;  
  background-color: red;
  color: white;
  text-align: center;
}

.footer-bottom{
    padding-top:3rem;
    padding-bottom:2rem;
}