@media only screen and (max-width: 700px) {
    /* For mobile phones: */
    .row{
        width:100%;
        margin: 0px;
    }
}
.sort{
    width: 200px;
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.productListing{
    background-color: #eeeeee;
    padding: 50px;
}

.filter{
    width: 200px;
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.option:hover{
    background-color: aqua;
}